################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Cube/.vs
/Cube/Data
/Cube/INSPINIA.Cube/bin
/Cube/INSPINIA.Cube/Config
/Cube/INSPINIA.Cube/Content
/Cube/INSPINIA.Cube/obj/Debug
/Cube/INSPINIA.Cube/Plugins
/Cube/Log
/Cube/packages
/Cube/Bin
/Cube/INSPINIA.Cube/obj/Release
